#config/bashrc_home
log

config/bashrc/config_bashrc_base.gone

config/base/excludeDirsAll.list
config/base/excludeDirsBase.list
config/base/hosts.base
config/base/hosts.new

config/sublime_text/sublime-snippet