#config/bashrc_home
log

config/bashrc/config_bashrc_base.gone

config/data/excludeDirsAll.list
config/data/excludeDirsBase.list
config/data/hosts.base
config/data/hosts.new

config/other/sublime_text/sublime-snippetconfig/wgx_f.cofig
module/bashrc/wgx_f.bashrc
