#ini
[informationInThisDb]
versionNum=v0.1.2

# [serverConfigDef]
# softwareServerIp=
# softwareStoreDirName=

# [serverConfig_192.168.1.55]
# userName=wb1
# userPassword=x6b7n37g
# dirPathPackage=/media/data/nfs
# dirPathPackageLocal=/media/server/1.55/nfs

#自动维护out用,有这些也视为空out
[backupOrRestoreOutsInfo]
excludeConfig=lz.macros \
build_c_time.txt \
build_c_date.txt

#项目软件包database文件名列表
[xbashAOSPConfigSoftwareDataBaseFileLIst]
apdbDirPathList= \
    /obj/CODEGEN/cgen \
    obj/CGEN
mddbDirPathList= \
    system/etc/mddb \
    system/vendor/etc/mddb

#不同AOSP项目之间快速切换
[AospProjectsInfo]
AospProjectNameList=
AospProjectStoragePathList=
AospProjectNameIgnoreList=

#项目对应平台名
[xbashAOSPConfigBranch2PlatformName]
keytak6580_weg_l=MTK6580
full_keytak6580_weg_l=MTK6580
sp7731c_1h10_32v4_oversea=SPRD7731C
full_m9_qhd=MTK6580M

#项目软件包的下载工具包
[xbashAOSPConfigMTKSoftwareDownloadToool]
filePath=

#项目软件包packages文件名列表
# TARGET_PRODUCT=xx\
# yy2
[xbashAOSPConfigSoftwarePackageFileLIst]

#mtk下载工具配置
[MtkSpFlashToolVersion]
toolsPath=

[projectSoftwareReadMeInfo]
recordCreator=吴国献 [wugx@sxtech.com]
recordMeTag=为方便后期追溯,对应git_commit已添加以版本号为名的标签.其中的标签注释内容为版本号具体修改的说明,请知悉.
projectManager=刘小章刘国茂

