#ini
#文件由ftIniCreateFileOrTag自动创建，请避免手动编辑造成解析失败

[xbash]
bashHistoryThresholdSize=3000

[MtkSpFlashToolVersion]
toolsPath=

[AospProjectsInfo]
AospProjectNameList=
AospProjectStoragePathList=

#项目对应平台名
[xbashAOSPConfigBranch2PlatformName]

#项目软件包packages文件名列表
[xbashAOSPConfigSoftwarePackageFileLIst]
