#! /bin/bash
#----------------    全局变量 init  ---------------------------
if [[ -z "$Env_Val_Inited" ]]; then
    export Env_Val_Inited=true
    export rXbashVersion="V0.8.0.0 beta"
    export XMODULE="script"

    export rNameUser=$userName
    export rDirNameXbash=$dirNameXbash
    export rDirPathTools=$dirPathHomeTools
    export rDirPathUserHome=$dirPathHome
    export rDirPathXbash=$dirPathHomeXbash

    export rDirNameXbashConfig=config
    export rDirNameXbashModule=module

    export rFileNameXbashModuleTestBase=test.module
    export rFileNameXbashModuleMaintain=maintain.module
    export rFileNameXbashModuleCommon=common.methods
    export rFileNameXbashConfigDataBase=base.database

    export rDirPathXbashConfig=$dirPathHomeXbashConfig
    export rDirPathXbashModule=${rDirPathXbash}/${rDirNameXbashModule} 

    export rfilePathGitBash=${rDirPathXbashModule}/git-completion.methods
    export rFilePathXbashModuleTest=${rDirPathXbashModule}/${rFileNameXbashModuleTestBase}
    export rFilePathXbashConfigDataBase=${rDirPathXbashConfig}/${rFileNameXbashConfigDataBase}
    export rFilePathXbashModuleCommon=${rDirPathXbashModule}/${rFileNameXbashModuleCommon}

    # ========设定只读=========
    readonly rNameUser
    readonly rDirPathTools
    readonly rDirPathXbash
    readonly Env_Val_Inited
    readonly rXbashVersion
    readonly rDirNameXbash
    readonly rDirPathUserHome
    readonly rDirPathXbashConfig
    readonly rDirPathXbashModule
    readonly rDirNameXbashConfig
    readonly rDirNameXbashModule
    readonly rfilePathGitBash
    readonly rFilePathXbashModuleTest
    readonly rFilePathXbashConfigDataBase
    readonly rFilePathXbashModuleCommon
    readonly rFileNameXbashConfigDataBase
    readonly rFileNameXbashModuleTestBase
    readonly rFileNameXbashModuleMaintain
    readonly rFileNameXbashModuleCommon
fi