#! /bin/bash
#----------------    全局变量 init  ---------------------------
if [[ -z "$rEnvValInited" ]]; then
    export rEnvValInited=true
    export rXbashVersion="V0.8.7.1 beta"
    export rUserName=$userName

    export rDirNameXbash=$dirNameXbash
    export rDirNameXbashConfig=config
    export rDirNameXbashModule=module

    export rDirPathTools=$dirPathHomeTools
    export rDirPathUserHome=$dirPathHome
    export rDirPathXbash=$dirPathHomeXbash
    export rDirPathXbashConfig=$dirPathHomeXbashConfig
    export rDirPathXbashConfig=${rDirPathXbash}/${rDirNameXbashConfig}
    export rDirPathXbashConfigUser=${rDirPathXbashConfig}/user
    export rDirPathXbashModule=${rDirPathXbash}/${rDirNameXbashModule}
    export rDirPathXbashModuleAuto=${rDirPathXbashModule}/auto
    export rDirPathXbashModuleBase=${rDirPathXbashModule}/base
    export rDirPathXbashModuleUser=${rDirPathXbashModule}/user
    export rDirPathXbashModuleMaintain=${rDirPathXbashModule}/maintain

    export rFileNameXbashConfigUser=${userName}.config
    export rFileNameXbashModuleTestBase=test.module
    export rFileNameXbashModuleTestBaseExpmale=test.module.example
    export rFileNameXbashModuleAuto=auto.methods
    export rFileNameXbashModuleBaseDataBase=base.database
    export rFileNameXbashModuleBasePackaging=packaging.module
    export rFileNameXbashModuleBaseModule=base.module
    export rFileNameXbashModuleCommon=common.methods
    export rFileNameXbashModuleInput=bash_input.module
    export rFileNameXbashModuleUser=${userName}.module
    export rFileNameXbashModuleMaintain=maintain.methods

    export rFilePathXbashConfigUser=${rDirPathXbashConfigUser}/${rFileNameXbashConfigUser}
    export rFilePathGitBash=${rDirPathXbashModule}/git/git_completion.methods
    export rFilePathXbashModuleAuto=${rDirPathXbashModuleAuto}/${rFileNameXbashModuleAuto}
    export rFilePathXbashDataBase=${rDirPathXbashModuleBase}/${rFileNameXbashModuleBaseDataBase}
    export rFilePathXbashModuleTestExpmale=${rDirPathXbashModuleBase}/${rFileNameXbashModuleTestBaseExpmale}
    export rFilePathXbashModuleBasePackaging=${rDirPathXbashModuleBase}/${rFileNameXbashModuleBasePackaging}
    export rFilePathXbashModuleBaseModule=${rDirPathXbashModuleBase}/${rFileNameXbashModuleBaseModule}
    export rFilePathXbashModuleCommon=${rDirPathXbashModule}/${rFileNameXbashModuleCommon}
    export rFilePathXbashModuleInput=${rDirPathXbashModuleBase}/${rFileNameXbashModuleInput}
    export rFilePathXbashModuleUser=${rDirPathXbashModuleUser}/${rFileNameXbashModuleUser}
    export rFilePathXbashModuleTest=${rDirPathXbashModule}/${rFileNameXbashModuleTestBase}

    # ========设定只读=========
    readonly rEnvValInited
    readonly rXbashVersion
    readonly rUserName

    readonly rDirNameXbash
    readonly rDirNameXbashConfig
    readonly rDirNameXbashModule

    readonly rDirPathTools
    readonly rDirPathXbash
    readonly rDirPathUserHome
    readonly rDirPathXbashConfig
    readonly rDirPathXbashModule
    readonly rDirPathXbashModuleAuto
    readonly rDirPathXbashModuleBase
    readonly rDirPathXbashModuleUser

    readonly rFileNameXbashModuleAuto
    readonly rFileNameXbashModuleBase
    readonly rFileNameXbashModuleBaseDataBase
    readonly rFileNameXbashModuleBasePackaging
    readonly rFileNameXbashModuleBaseModule
    readonly rFileNameXbashModuleMaintain
    readonly rFileNameXbashModuleTestBase
    readonly rFileNameXbashModuleCommon
    readonly rFileNameXbashModuleTestBaseExpmale

    readonly rFilePathGitBash
    readonly rFilePathXbashDataBase
    readonly rFilePathXbashModuleTest
    readonly rFilePathXbashModuleAuto
    readonly rFilePathXbashModuleBasePackaging
    readonly rFilePathXbashModuleBaseModule
    readonly rFilePathXbashModuleInput
    readonly rFilePathXbashModuleCommon
    readonly rFilePathXbashModuleTestExpmale
fi