#! /bin/bash
#----------------    user info Config    ---------------------------
export userPassword=
#----------------    PS1 config  ------------------
export isUseCustomPS1=
#----------------    Android development environment config    ---------------------------
isUseCustomAndroidDevEnvConfig=
if [[ "$isUseCustomAndroidDevEnvConfig" = "true" ]]; then
    jdkPathOracle6=${rDirPathTools}/jdk/1.6.038
    jdkPathOpen7=/usr/lib/jvm/java-7-openjdk-amd64
    jdkPathOpen8=/usr/lib/jvm/java-8-openjdk-amd64
    jdkPath=$jdkPathOpen8
    jdkHomePath=$jdkPath
    gccPath=/usr/bin/gcc-4.8
    dirPathAndroidSdk=${dirPathHomeTools}/Sdk
    dirPathAndroidNdk=${dirPathHomeTools}/ndk/android-ndk-r12b

    #根据android sdk 版本修改当前java sdk 配置
    sdkVersion=${sdkVersionDefault:-'27'} # 默认使用open jdk 8
    filePath=build/core/version_defaults.mk
    if [[ -f "$filePath" ]]; then
            key="PLATFORM_SDK_VERSION := "
            sdkVersion=$(cat $filePath | grep "$key")
            sdkVersion=${sdkVersion//$key/}
            sdkVersion=$(echo $sdkVersion |sed s/[[:space:]]//g)
    fi
    if (( $sdkVersion>=24 ));then
                jdkHomePath=$jdkPathOpen8
                jdkPath=${jdkPathOpen8}/bin/java
                gccPath=/usr/bin/gcc-4.8
        elif (( $sdkVersion<21 ));then
                jdkHomePath=$jdkPathOracle6
                jdkPath=${jdkPathOracle6}/bin/java
                gccPath=/usr/bin/gcc-4.4
        else
                jdkPath=${jdkPathOpen7}/bin/java  
                jdkHomePath=$jdkPathOpen7
                gccPath=/usr/bin/gcc-4.6
        fi

    bashProcessCount=($(pgrep -f bash))
    bashProcessCount=${#bashProcessCount[@]}
    isUpdate=
    if [[ -f "$filePath" ]]; then
        isUpdate=true
        [[ -z "$isResetXbash" ]]&& (($bashProcessCount!=2))&& isUpdate=
        [[ "$isResetJdk" != "true" ]] && (($bashProcessCount!=2)) && isUpdate=
    else
        [[ "$isResetJdk" = "true" ]] && (($bashProcessCount==2)) && isUpdate=true
        [[ -z "$isResetXbash" ]]&& (($bashProcessCount==2)) && isUpdate=true
    fi
    [[ "$isUpdate" = "true" ]] && if [[ -f "$jdkPath" ]]; then
        echo "$(echo "$userPassword" | sudo -S -p '' echo " " > /dev/null)" >/dev/null

        jdkPathList=($jdkPath ${jdkPath}c ${jdkPath}p ${jdkPath}ws ${jdkPath}doc ${jdkPath}h)
        configList=(java javac javap javaws javadoc javah)
        for index in "${!jdkPathList[@]}"; do
            path=${jdkPathList[$index]}
            config=${configList[$index]}
            [[ ! -f "${path}" ]] && echo -e "\033[1;33m${config}跳过配置,找不到${path} \033[0m" && continue
            [[ -z $(update-alternatives --list $config|grep $path) ]] && sudo -p '' -S  update-alternatives --install /usr/bin/${config} $config $path 300
            echo "$path" | sudo -p '' -S update-alternatives --config $config >/dev/null
        done
         [[ "$isResetJdk" = "true" ]] && ftEcho -s "切换jdk配置" && java -version
    else echo -e "\033[1;31mJava_环境配置更新失败\njdkPath=$jdkPath\n\033[0m" ; fi

    [[ "$isResetGcc" = "true" ]] && if [[ -f "$gccPath" ]] ;then
        echo "$(echo "$userPassword" | sudo -S -p '' echo " " > /dev/null)" >/dev/null
        #sudo update-alternatives --remove gcc /usr/bin/gcc-x.x
        [[ -z $(update-alternatives --list gcc|grep $gccPath) ]] && sudo -p '' -S  update-alternatives --install /usr/bin/gcc gcc $gccPath 300
        echo "$gccPath" | sudo -p '' -S update-alternatives --config gcc >/dev/null
        gccPath=$(echo $gccPath | sed "s cc ++ g" )
        [[ -z $(update-alternatives --list gcc|grep $gccPath) ]] && sudo -p '' -S  update-alternatives --install /usr/bin/g++ g++ $gccPath 300
        echo "$gccPath" | sudo -p '' -S update-alternatives --config g++ >/dev/null

        ftEcho -s "切换gcc配置" && gcc -v
    else echo -e "\033[1;31m GCC 配置更新失败\n${gccPath} 不存在\n\033[0m" ; fi

    if [[ -d "$jdkHomePath" ]]; then
        export JAVA_HOME=$jdkHomePath
        export JRE_HOME=${JAVA_HOME}/jre
        export CLASSPATH=.:${JAVA_HOME}/lib:${JRE_HOME}/lib

        export ANDROID_SET_JAVA_HOME=true
        export ANDROID_PRE_BUILD_PATHS=$JAVA_HOME
        export ANDROID_JAVA_TOOLCHAIN=$JAVA_HOME

        #清理PATH环境变量中的java环境项
        PATHLOCAL=
        newList=($(echo "${PATH}"| sed 's?:? ?g'))
        for item in ${newList[@]}; do
            [[ ! -z $(echo $item |egrep -i "java|jdk|jre") ]] && continue
            [[ -z ${PATHLOCAL} ]]&&PATHLOCAL="${item}" || PATHLOCAL="${PATHLOCAL}:${item}"
        done
        export PATH=${PATHLOCAL}
        export PATH=$PATH:${JAVA_HOME}/bin:${JRE_HOME}/bin
    else echo -e "\033[1;31mJava_环境配置错误\n${JAVA_HOME} 不存在\n\033[0m" ; fi

    if [[ -d "$dirPathAndroidSdk" ]]; then
        export ANDROID_SDK="${dirPathAndroidSdk}"
        export ANDROID_HOME=$ANDROID_SDK
        export ANDROID_SDK_HOME=$ANDROID_SDK
        #export ANDROID_SDK_BUILD_TOOL=${ANDROID_SDK_HOME}/build-tools/android-4.4W
        #export PATH=$PATH:$ANDROID_SDK_BUILD_TOOL
    else echo -e "\033[1;31mAndroid_SDK_环境配置错误\n${dirPathAndroidSdk} 不存在\n\033[0m" ; fi

    if [[ -d "$dirPathAndroidNdk" ]]; then
        export ANDROID_NDK="${dirPathAndroidNdk}"
        export PATH=$PATH:$ANDROID_NDK
    else echo -e "\033[1;31mAndroid_NDK_环境配置错误\n${dirPathAndroidNdk} 不存在\033[0m" ; fi

    #增加新配置
    export PATH=$PATH:/usr/libexec/git-core
    export PATH=$PATH:$dirPathHomeTools
fi

#----------------    Android optimization acceleration    ---------------------------
#编译缓存
isUseBuildCcache=
if [ "$isUseBuildCcache" = "true" ]; then
    dirPathCache=/media/xxxx/.ccache
    [ ! -d $dirPathCache  ]&& mkdir $dirPathCache
    if [[ -d  "${dirPathCache}" ]]; then
        export CCACHE_DIR=$dirPathCache
        export USE_CCACHE=1
        export CACHE_UMASK=002
        unset CCACHE_HARDLINK
    else echo -e "\033[1;31mAndroid_编译缓存配置失败 , 缓存路径无效\n\033[0m" ; fi
fi

#分布式编译集群的IP组
isUseDistcc=
if [[ "$isUseDistcc" = "true" ]]; then
    export PATH=/usr/lib/distcc:$PATH
    # export WRAPPER=ccache
    # export CCACHE_PREFIX=distcc
    export DISTCC_HOSTS="localhost 192.168.1.55"
fi

#----------------    Android decompile    ---------------------------
export DIR_PATH_ANDROID_DECOMPILE_TOOLS=${rDirPathUserHome}/xconfig/decompile/tools