# 说明
# 1 xbash的变量配置放置在此文件的目的是想将xbash变量加入环境变量
# 2 由于终端切换root不加载文件/root/.profile，所以需要脚本在main里面强制加载。
#    同时执行到本文件的[加载bash原生配置 和 xbash模块扩展]时强制结束避免无限循环

#---------------- 初始化xbash变量 ----------------------------------
    [[ -z "$SUDO_USER" ]] && userName=$USER || userName=$SUDO_USER
    export dirNameXbash=xbash
    if [[ "$USER" = "root" ]]; then
        export dirPathHome="/root"
        dirPathHomeXbashConfig=$(dirname $(readlink -f  $BASH_SOURCE))
        export dirPathHomeXbash=$(dirname ${dirPathHomeXbashConfig})
        dirNameHome=$(echo "$dirPathHomeXbash"| sed 's?/? ?g'| awk '{print $2}')
        export dirPathHome=/home/${dirNameHome:-"$userName"}
    else
        export dirPathHome=${HOME}
        export dirPathHomeXbash=${dirPathHome}/${dirNameXbash}
    fi

    [ ! -d "$dirPathHomeXbash" ] && echo -e "\033[1;31mXbash下实现的自定义命令不可用[dirPathHomeXbash=$dirPathHomeXbash]\033[0m" && return
    export dirPathHomeTools=${dirPathHome}/tools
    export dirPathHomeXbashConfig=${dirPathHomeXbash}/config
    export dirPathHomeXbashConfigUser=${dirPathHomeXbashConfig}/user

#---------------- 加载xbash配置 ------------------
    # 加载common配置
    echo "dirPathHomeXbashConfig=${dirPathHomeXbashConfig}"
    filePathXbashTragetBashrcConfigBase=${dirPathHomeXbashConfig}/common.config
    if [[ -f $filePathXbashTragetBashrcConfigBase ]];then  source $filePathXbashTragetBashrcConfigBase
    else echo -e "\033[1;31mXbash需要的基础配置\n${filePathXbashTragetBashrcConfigBase}\033[0m不存在" ;return ;fi
    # 加载用户配置
    filePathUserConfig=${dirPathHomeXbashConfigUser}/${userName}.config
    if [ ! -f "$filePathUserConfig" ];then
        [ ! -f $rFilePathXbashConfigExample ] && echo -e "\033[1;31m用户${userName}独立配置创建失败,缺少模版:\n $rFilePathXbashConfigExample\033[0m" && return
        echo -e "\033[1;33m初始化用户[${userName}]的xbash配置\n\033[0m"
        ${dirPathHomeXbash}/init --userconfig
    fi
    if [[ -f $filePathUserConfig ]];then source  $filePathUserConfig
    else echo -e "\033[1;31用户[${userName}]的xbash配置不存在:\n${filePathUserConfig}\033[0m" ;fi
    export filePathXbashTragetBashrcConfigProfile=${dirPathHomeXbashConfig}/profile.config

#---------------- 加载bash原生配置 和 xbash模块扩展------------------
    if [[ "$USER" = "root" ]]; then
        if [[ $1 = "reInitConfig" ]]; then
            return
        fi
        if [ "$BASH" ]; then
            if [ -f ~/.bashrc ]; then
            . ~/.bashrc
            fi
        fi
            mesg n
    else
        # if running bash
        if [ -n "$BASH_VERSION" ]; then
            # include .bashrc if it exists
            if [ -f "$HOME/.bashrc" ]; then
            . "$HOME/.bashrc"
            fi
        fi

        # set PATH so it includes user's private bin if it exists
        if [ -d "$HOME/bin" ] ; then
            PATH="$HOME/bin:$PATH"
        fi
    fi