#!/bin/bash
#####-----------------------固定部分------------------------------#########
branchName=$1
git reset --hard&&
echo -e "\033[1;33m将开始切换到 $branchName\033[0m"
git checkout   "$branchName"||return
git pull
#####----------------------自定义部分--------------------------#######
#git cherry-pick xxxxxx




#####-----------------------固定部分------------------------------#########
git push