#!/bin/bash
if [[ ! -z "$rDirPathCmdsConfig" ]]&&[[ -d "$rDirPathCmdsConfig" ]]; then
    fileNameConfigSourceUserConfig=Preferences.sublime-settings
    filePathConfigSourceUserConfig=${rDirPathCmdsConfig}/other/sublime_text/${fileNameConfigSourceUserConfig}
    dirPathConfigSource=${rDirPathCmdsConfig}/other/sublime_text/sublime-snippet/
    if [[ ! -z "$rDirPathUserHome" ]]&&[[ -d "$rDirPathUserHome" ]]; then
            dirPathConfigTraget=${rDirPathUserHome}/.config/sublime-text-3/Packages/User/

            ln -sf $filePathConfigSourceUserConfig ${dirPathConfigTraget}/${fileNameConfigSourceUserConfig}
            ls $dirPathConfigSource | while read file
            do
               ln -sf ${dirPathConfigSource}/${file} ${dirPathConfigTraget}/${file}
            done
    fi
fi