
# ====    base build cnfig    ====

-printmapping proguardMapping.txt #输出混淆前后代码映射关系
-keepattributes Signature #保留泛型
-keepattributes SourceFile, LineNumberTable #崩溃抛出异常时,保留源码文件名和源码行号

# ====    disable debug log    ====

-assumenosideeffects class android.util.Log {
    public static *** d(...);
    public static *** v(...);
}