#!/bin/bash
#测试模块
#加载部分模块,便于调试
[[ -f "$rFilePathXbashModuleCommon" ]] && source $rFilePathXbashModuleCommon
[[ -f "$rFilePathXbashModuleAuto" ]] && source $rFilePathXbashModuleAuto
[[ -f "$rFilePathXbashModuleGit" ]] && source $rFilePathXbashModuleGit
[[ -f "$rFilePathXbashModuleLearn" ]] && source $rFilePathXbashModuleLearn
source ${rDirPathXbashModuleMaintain}/${rFileNameXbashModuleMaintain}
# =================================================================
ftEcho -s "#####----------------------测试模式--------------------------#######"
# =================================================================
