#ini
[informationInThisDb]
versionNum=v0.1.2.6

#自动维护out用,有这些也视为空out
[backupOrRestoreOutsInfo]
excludeConfig=lz.macros \
build_c_time.txt \
build_c_date.txt

#项目软件包database文件名列表
[xbashAOSPConfigSoftwareDataBaseFileLIst]
apdbDirPathList= \
    /obj/CODEGEN/cgen \
    obj/CGEN
mddbDirPathList= \
    system/etc/mddb \
    system/vendor/etc/mddb

#AOSP项目列表和存放信息
[AospProjectsInfo]
AospProjectNameList=
AospProjectStoragePathList=
AospProjectNameIgnoreList=\
    lost+found \
    download \
    demos

#项目软件包的下载工具包[客户用]
[xbashAOSPConfigMTKSoftwareDownloadToool]
filePath=

#mtk下载工具配置
[MtkSpFlashToolVersion]
toolsPath=

[projectSoftwareReadMeInfo]
recordCreator=xxx<xxx@xxx.com>
recordMeTag=为方便后期追溯,对应git_commit已添加以版本号为名的标签.其中的标签注释内容为版本号具体修改的说明,请知悉.
projectManager=xxxx<xxx@xxx.com>yyyy<xxx@xxx.com>
softwareDescriptionMtkTools=tools目录存放MTK系统软件[固件]下载工具和工具使用说明书
softwareDescriptionMtkPackages=packages目录存放系统软件
softwareDescriptionMtkDatabase=database目录存放设备校准等用途的配置文件

[serverConfigDef]
softwareServerIp=xxx
softwareStoreDirName=xxx

[serverConfig_xxx.xx.xxx.xxx]
userName=xxxx
userPassword=xxxx
dirPathPackage=/xxxx/xxx/xxx
dirPathPackageLocal=/xxx/xx/

[vpnConfig_anyconnect]
hostName=xxxx
userName=xxxx
userPassword=xxxx
