#! /bin/bash
#----------------    user info Config    ---------------------------
export userName=wgx_h
export userPassword=123
export dirPathXbash=/home/wgx/

#----------------   加载xbash的基础配置  ------------------
filePathXbashTragetBashrcConfigBase=${dirPathHomeCmdConfig}/bashrc/common.config
if [[ -f $filePathXbashTragetBashrcConfigBase ]]; then
            source $filePathXbashTragetBashrcConfigBase&& export filePathXbashTragetBashrcConfigBase=$filePathXbashTragetBashrcConfigBase
else
            echo -e "\033[1;31mXbash需要的基础配置\n$filePathXbashTragetBashrcConfigBase\033[0m不存在"
            export filePathXbashTragetBashrcConfigBase=
fi

#----------------    Android Dev Env Config    ---------------------------
jdkPathOracle6=${rDirPathTools}/jdk/1.6.038
jdkPathOpen7=/usr/lib/jvm/java-7-openjdk-amd64
jdkPathOpen8=/usr/lib/jvm/java-8-openjdk-amd64
jdkPath=$jdkPathOpen7

#根据android sdk 版本修改当前java sdk 配置
filePath=build/core/version_defaults.mk
if [[ -f "$filePath" ]]; then
        key="PLATFORM_SDK_VERSION := "
        sdkVersion=$(cat $filePath | grep "$key")
        sdkVersion=${sdkVersion//$key/}
        sdkVersion=$(echo $sdkVersion |sed s/[[:space:]]//g)

        while true; do case "$sdkVersion" in
        24|25|26)      jdkPath=$jdkPathOpen8              ;break;;   # open jdk 8
        21|22|23)      jdkPath=$jdkPathOpen7              ;break;; # open jdk 7
        19|18|17|16|15|14|13|12|11|10|9)      jdkPath=$jdkPathOracle6              ;break;; #oracle jdk 1.6
        * ) break;;esac;done
fi

export JAVA_HOME=$jdkPath
export JRE_HOME=${JAVA_HOME}/jre
export CLASSPATH=.:${JAVA_HOME}/lib:${JRE_HOME}/lib

export ANDROID_SET_JAVA_HOME=true
export ANDROID_PRE_BUILD_PATHS=$JAVA_HOME
export ANDROID_JAVA_TOOLCHAIN=$JAVA_HOME

export ANDROID_SDK=${dirPathHomeTools}/sdk/4.4
export ANDROID_SDK_HOME=$ANDROID_SDK
export ANDROID_SDK_BUILD_TOOL=${ANDROID_SDK_HOME}/build-tools/android-4.4W
export ANDROID_NDK=${dirPathHomeTools}/ndk/android-ndk-r12b

export PATH=$PATH:${JAVA_HOME}/bin:${JRE_HOME}/bin
export PATH=$PATH:$ANDROID_SDK_BUILD_TOOL
export PATH=$PATH:$ANDROID_NDK
#export PATH=$PATH:/usr/local/cuda-7.5/bin:/usr/local/cuda-8.0/bin
export PATH=$PATH:${dirPathHomeTools}/sp_flash_tool_v5.1612.00.100
export PATH=$PATH:/usr/libexec/git-core

#缓存目录[android优化加速部分]
export CCACHE_DIR=/media/data_cache/.ccache
export USE_CCACHE=1
export CACHE_UMASK=002
unset CCACHE_HARDLINK
#分布式编译集群的IP组
#export DISTCC_HOSTS="192.168.3.114"

#------------------------------------  环境错误提示  ----------------------------------
if [ ! -d "$JAVA_HOME" ];then
    echo -e "\033[1;31mJava_环境配置错误\n$JAVA_HOME不存在\n\033[0m"
fi
if [ ! -d "$ANDROID_SDK" ];then
    echo -e "\033[1;31mAndroid_SDK_环境配置错误\n$ANDROID_SDK 不存在\n\033[0m"
fi
if [ ! -d "$ANDROID_NDK" ];then
    echo -e "\033[1;31mAndroid_NDK_环境配置错误\n$ANDROID_NDK 不存在\033[0m"
fi
filePathGitBash=${dirPathHomeCmdConfig}/other/git/git-completion.bash
if [ ! -f "$filePathGitBash" ];then
    echo -e "\033[1;31mgit bash 配置文件:\n$filePathGitBash 不存在\033[0m"
else
    source $filePathGitBash
fi
